﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        label {display: inline-block; width: 100px;}
        div.dataElem {margin: 5px;}
        h2 > label {width: inherit;}
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
