﻿@model DateTime

@{
    Layout = null;
}
@*
- this is weajly because the view does not
	anything about the view model object and treats it 
	as an instance of 'object'. To get the values, I need to cast
	the object to an instance of 'DateTime' This works
	but produces messey views. A better choice is using
	the strongly typed views
*@
<h2>Weakly type</h2>
The day is @(((DateTime)Model).DayOfWeek)

<h2> Strongly type</h2>
The day is @Model.DayOfWeek;