﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        label {display: inline-block; width: 100px;}
        div.dataElem {margin: 5px;}
        h2 > label {width: inherit;}
        .editor-label, .editor-field {float:left; margin-top: 10px;}
        .editor-field input {height: 20px;}
        .editor-label {clear: left;}
        .editor-field {margin-left: 10px;}
        input[type=submit] {float: left; clear: both; margin-top: 10px;}
        .column {float: left; margin: 10px;}
        table, td, th {
            border: thin solid black;
            border-collapse: collapse;
            padding: 5px;
            background-color: lemonchiffon;
            text-align: left;
            margin: 10px 0;
        }
        div.load {color: red; margin: 10px 0; font-weight: bold;}
        div.ajaxLink {margin-top: 10px; margin-right: 5px; float: left;}
    </style>
</head>
<body>
    @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
