﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        label {
            display: inline-block; 
            width: 100px; 
            font-weight: bold; 
            margin: 5px;
        }
        form label {
            float: left;
        }
        input.text-box {
            float: left; 
            margin: 5px;
        }
        button[type=submit] {
            margin-top: 5px;
            float: left;
            clear: left;
        }
        form div {
            clear: both;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>