﻿@model _25_Model_Validation.Models.Appointment_5

@{
    ViewBag.Title = "Make A booking";
}

<h4>Book an Appointment</h4>

@using (Html.BeginForm()) {
    @*@Html.ValidationSummary()*@
        // show all
    @Html.ValidationSummary(true)
    // show only model-level-errors

    <p>@Html.ValidationMessageFor(m => m.ClientName)</p>
    <p>Your name: @Html.EditorFor(m => m.ClientName)</p>
    
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Appointment Date: @Html.EditorFor(m => m.Date)</p>
    
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms &Aacute; conditions </p>
    <input type="submit" value="Make Booking" />
    
    
}

