﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary()
        <p><label>Username: </label><input name="username" /></p>
        <p><label>Password: </label><input name="password" type="password"/></p>
        <input type="submit" value="Log in"/>
    }
</body>
</html>
