﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<style>
		.btn a {
			color: white;
			text-decoration: none;
		}

		body {
			background-color: #F1F1F1;
		}
	</style>
</head>
<body>
    <div> 
        @ViewBag.Greeting World ( from the view )
        <p>We're going to have an exciting party.<br />
            (To do: sell it better. Add pictures or something.)
        </p>
		<div class="btn btn-success">
			@Html.ActionLink("RSVP Now", "RsvpForm")
		</div>
    </div>
</body>
</html>
