﻿@using ASPNET_MVC1_PartyInvite.Models;
@model ASPNET_MVC1_PartyInvite.Models.GuestResponse
     @*
        - this is a razor expression
		- this is a strongly typed view
		- use the HTML.ValidationSummary helper method 
     *@
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	@*<link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />*@	
	@*
		- this also works because since MVC 4, Razor detercs attributes that begins with ~/
		and automatically inserts the @href or @url call for you!!!! 
	*@

	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles.css")" />
	@*
		- Converts a virtual (relative) path to an application absolute path
	*@

	<link rel="stylesheet" href="~/Content/bootstrap.css" />

    <title>RsvpForm</title>
	<style>
		.btn a {color: white; text-decoration: none}
		body {background-color: #F1F1F1;}
	</style>
</head>
<body>
	<div class="panel panel-success">
		<div class="panel-heading text-center">
			<h4>RSVP</h4>
		</div>
		<div class="panel-body">
			@using (Html.BeginForm())
			{
                <!-- this is also an HTML helper -->
				@Html.ValidationSummary();
				<div class="form-group">
					<label>Your name:</label>
					@Html.TextBoxFor(x => x.Name)
				</div>
				<div class="form-group">
					<label>Your Email:</label>
					@Html.TextBoxFor(x => x.Email)
					
				</div>
				<div class="form-group">
					<label>Your Phone:</label>
					@Html.TextBoxFor(x => x.Phone)
				</div>
				
				<div class="form-group">
					<label>Will you attend?</label>
					@Html.DropDownListFor(x => x.WillAttend, new[] {
					new SelectListItem(){Text = "Yes, I'll be there", Value = bool.TrueString},
					new SelectListItem(){Text = "No, I can't come", Value = bool.FalseString}
					}, "Choose an option")
				</div>
				<div class="text-center">
					<input type="submit" value="Submit RSVP" />
				</div>	
			}
		</div>
	</div>
    
    <div> 
    </div>
</body>
</html>
