﻿@model ASPNET_MVC1_PartyInvite.Models.GuestResponse

@{
    Layout = null;
	// - @model specifies the domain model type THAT this view is strongly typed with
	// to access that domain model, I use the syntax "Model.PropertyName"
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
		<h1>Thank you, @Model.Name!</h1>

		@if (Model.WillAttend == true) {
			@:It's great that you are coming.
		} else {
			@:Sorry to hear that you can't make it.
		}
    </div>
</body>
</html>
