﻿@model _22_TemplatedHelperMethods.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>CreatePerson</h2>
@using(Html.BeginForm("CreatePerson", "Home", FormMethod.Post,
new { @class = "personClass", data_formType = "Person" })) {
    
    <div class="dataElem">
        <label>PersonId</label>
        @*@Html.TextBoxFor(m => m.PersonId)*@
        @Html.Editor("PersonId")
    </div>    
    
    <div class="dataElem">
        <label>First Name</label>
        @*@Html.TextBoxFor(m => m.FirstName)*@
        @Html.Editor("FirstName")
    </div>
    
    <div class="dataElem">
        <label>Last Name</label>
        @*@Html.TextBoxFor(m => m.LastName)*@
        @Html.EditorFor(m => m.LastName)
    </div>
    
    <div class="dataElem">
        <label>Role</label>
        @*@Html.DropDownListFor(m => m.Role,
            new SelectList(Enum.GetNames(typeof(Role))))*@
        @Html.EditorFor(m => m.Role)
    </div>
    
    <input type="submit" value="Submit" />
}
