﻿@model _22_TemplatedHelperMethods.PersonC

@{
	ViewBag.Title = "CreatePerson";
	Layout = "/Views/Shared/_Layout.cshtml";
	Html.EnableClientValidation(false);
}

<h3>Create Person: @Html.LabelForModel()</h3>

@using (Html.BeginForm("CustomTemplateOnASingleTemplateHelper", "Home", FormMethod.Post,
new { @class = "personClass", data_formType = "Person" })) {

	@Html.EditorFor(m => m.RoleA)
	<input type="submit" value="Submit" />
}