﻿@model _22_TemplatedHelperMethods.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>CreatePerson</h2>
@using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post,
new { @class = "personClass", data_formType = "Person" })) {

    <div style="clear: both"></div>

    <!-- templated helper methods -->
    <div>
        @Html.Label("PersonId")
        @Html.Display("PersonId")
        <!--
            <label for="PersonId">PersonId</label>
            0
        -->
    </div>
    <div>
        @Html.Label("FirstName")
        @Html.Display("FirstName")
        <!--
        <label for="FirstName">FirstName</label>
        -->
    </div>
    <div>
        @Html.LabelFor(m => m.Role)
        @Html.DisplayFor(m => m.Role)
        <!--
        <label for="Role">Role</label>
        Admin
        -->
    </div>
    <div>
        @Html.LabelFor(m => m.BirthDate)
        @Html.DisplayFor(m => m.BirthDate)
        <!--
        <label for="BirthDate">BirthDate</label>
        1/1/0001 12:00:00 AM
        -->
    </div>

    <input type="submit" value="Submit" />
}
