﻿@model _22_TemplatedHelperMethods.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h3>Create Person: @Html.LabelForModel()</h3>

@using (Html.BeginForm("Scaffolding", "Home", FormMethod.Post,
new { @class = "personClass", data_formType = "Person" })) {


    @Html.EditorForModel()

    <input type="submit" value="Submit" />
}
