﻿@model _22_TemplatedHelperMethods.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h3>Create Person: @Html.LabelForModel()</h3>

@using (Html.BeginForm("TemplateHelperMethod", "Home", FormMethod.Post,
new { @class = "personClass", data_formType = "Person" })) {

	<div class="column">
		@Html.EditorForModel()
	</div>
	<div class="column">
		@Html.EditorFor(m => m.HomeAddress)
	</div>

	<input type="submit" value="Submit" />
}