﻿@model _24_Model_Binding.Models.AddressSummary

@{
    ViewBag.Title = "CustomPrefixIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.LabelFor(m => m.City)
    @Html.DisplayFor(m => m.City)
</div>
<div>
    @Html.LabelFor(m => m.Country)
    @Html.DisplayFor(m => m.Country)
</div>