﻿@model _24_Model_Binding.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person</h2>
<div>
    @Html.LabelFor(m => m.PersonId)
    @Html.DisplayFor(m => m.PersonId)
</div>
<div>
    @Html.LabelFor(m => m.FirstName)
    @Html.DisplayFor(m => m.FirstName)
</div>
<div>
    @Html.LabelFor(m => m.LastName)
    @Html.DisplayFor(m => m.LastName)
</div>
<div>
    @Html.LabelFor(m => m.Role)
    @Html.DisplayFor(m => m.Role)
</div>
<div>
    @Html.LabelFor(m => m.HomeAddress.City)
    @Html.DisplayFor(m => m.HomeAddress.City)
</div>
<div>
    @Html.LabelFor(m => m.HomeAddress.Country)
    @Html.DisplayFor(m => m.HomeAddress.Country)
</div>