﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Header")
    <div class="layout"> 
        This is part of the layout
    </div>

    @RenderSection("Body")
    <div class="layout">
        This is part of the layout
    </div>

    @if (IsSectionDefined("Footer")) {
        @RenderSection("Footer")
    }
    else {
        <h4>This is the default footer</h4>
    }
    
</body>
</html>
