﻿@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <h1>@Model</h1>
        Sorry for the inconvenience. If this problem persist, contact your CurricUNET support personnel for help.
    </div>
</body>
</html>
