﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- standard -->
<h2>Create Person</h2>
<form action="/Home/CreatePerson" method="post">
    <div class="dataElem">
        <label>PersonId</label>
        <input name="personId" value="@Model.PersonId" />
    </div>
    <div class="dataElem">
        <label>First Name</label>
        <input name="FirstName" value="@Model.FirstName" />
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        <input name="LASTname" value="@Model.LastName" />
    </div>
    <input type="submit" value="Submit" />
    @*
        - the "name" attribute is required for mvc framework default model binder
        to workout which input elements contains values for the "model" type
         props when processing a post request. If you 'omit' that attribute, 
        it will not work and if the 'name' and the model's property name don't
		match, the model binder will not bind to the correct property. 
    *@
</form>

<!--
This is what the mvc app sent to the browser when I pass "0" in the PersonId
input

<h2>Create Person</h2>
<form action="/Home/CreatePerson" method="post">
    <div class="dataElem">
        <label>PersonId</label>
        <input name="personId" value="0" />
    </div>
    <div class="dataElem">
        <label>First Name</label>
        <input name="FirstName"/>
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        <input name="lastName"/>
    </div>
    <input type="submit" value="Submit" />
</form>


-->