﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- BeginForm -->
<h2>CreatePerson</h2>
@{Html.BeginForm();}
    <div class="dataElem">
    <label>PersonId</label>
    <input name="personId" value="@Model.PersonId" />
    </div>
    <div class="dataElem">
    <label>First Name</label>
    <input name="FirstName" value="@Model.FirstName" />
    </div>
    <div class="dataElem">
    <label>Last Name</label>
    <input name="lastName" value="@Model.LastName" />
    </div>
    <input type="submit" value="Submit" />
@{Html.EndForm();}