﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!-- using "using" and self-enclosing form -->
<h2>CreatePerson</h2>
@using (Html.BeginForm()) {
    <div class="dataElem">
        <label>PersonId</label>
        <input name="personId" value="@Model.PersonId" />
    </div>
    <div class="dataElem">
        <label>First Name</label>
        <input name="FirstName" value="@Model.FirstName" />
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        <input name="lastName" value="@Model.LastName" />
    </div>
    <input type="submit" value="Submit" />
}

@*
Common variations (there are 13 in total)
BeginForm()
BeginForm(action, controller)
BeginForm(action, Controller, method)
BeginForm(action, controller, method, attributes)
BeginForm(action, controller, routeValues, method, attributes)
*@
