﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "Helper method templates";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
    <!-- this is to disable adding 'data' attributes -->
}

<!-- single html helpers -->
@using (Html.BeginForm()) {
    <div class="dataElem">
        <label>PersonId</label>
        @Html.TextBoxFor(m => m.PersonId)
    </div>
    
    <div class="dataElem">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    
    <div class="dataElem">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    
    <div class="dataElem">
        <label>Role</label>
        @Html.DropDownListFor(m => m.Role,
            new SelectList(Enum.GetNames(typeof(HelperMethod.Models.Role))))
    </div>
    <input type="submit" value="Submit" />
}
<div style="clear: both"></div>
<!-- Html.Editor and HTml.EditorFor-->
@using (Html.BeginForm()) {
    <div class="dataElem">
        <label>PersonId</label>
        @Html.Editor("PersonId")
    </div>

    <div class="dataElem">
        <label>First Name</label>
        @Html.EditorFor(m => m.FirstName)
    </div>

    <div class="dataElem">
        <label>Last Name</label>
        @Html.EditorFor(m => m.LastName)
    </div>

    <div class="dataElem">
        <label>Role</label>
        @Html.EditorFor(m => m.Role)
    </div>
    
    <div class="dataElem">
        <label>Birth Date</label>
        @Html.EditorFor(m => m.BirthDate)
    </div>
    <input type="submit" value="Submit" />
}
<!--
- MVC helper methods uses the type of the property
to select the correct input with the correct type. For example,
"DateTime"  will be a "datetime" for the input type.

- If I use Opera, the input will be probably different because itus
using HTML 5 new implementation for inputs. 

- Role is incorrectly rendered. We need to add metadata to the properties to 
help the HtmlHelpers to properly render it.


List of MVC Templated Helper methods

    Display     Html.Display("FirstName")               Renders a read-only view of the specified model 
                                                        property, choosing an HTML element according
                                                        to the property's type and metadata

    DisplayFor  Html.DisplayFor(x => x.FirstName)       Strongly typed version of the previous helper

    Editor      Html.Editor("FirstName")                Renders an editor for the specified model property
                                                        choosing an HTML element according to the property's
                                                        TYPE and METADATA
    
    EditorFor   Html.EditorFor(x => x.FirstName))       Strongly type version of the previous helper

    Label       Html.Label("FirstName")                 Renders an HTML <label> element referring to the
                                                        specified model property

    LabelFor    Html.LabelFor("x => x.FirstName")       Strongly typed version of the previous helper
-->
<div style="clear: both"></div>

<!-- templated helper methods -->
<div>
    @Html.Label("PersonId")
    @Html.Display("PersonId")
    <!--
        <label for="PersonId">PersonId</label>
        0    
    -->
</div>
<div>
    @Html.Label("FirstName")
    @Html.Display("FirstName")
    <!--
    <label for="FirstName">FirstName</label>
    -->
</div>
<div>
    @Html.LabelFor(m => m.Role)
    @Html.DisplayFor(m => m.Role)
    <!--
    <label for="Role">Role</label>
    Admin
    -->
</div>
<div>
    @Html.LabelFor(m => m.BirthDate)
    @Html.DisplayFor(m => m.BirthDate)
    <!--
    <label for="BirthDate">BirthDate</label>
    1/1/0001 12:00:00 AM
    -->
</div>

