﻿@model string
@using HelperMethod.Infrastructure
@{
    Layout = null;
}

<!-- evalutes types at runtime. No casting is require -->\
<!-- benefit is modularized, only one place to change how its
its rendered -->

@helper ListArrayItems(string[] items) { 
    foreach (string str in items) {
        <b>@str</b>
    }    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- inline hlper method -->
    <div>
        Here are the fruits: @ListArrayItems(ViewBag.Fruits);
    </div>
    <div>
        Here are the cities: @ListArrayItems(ViewBag.Cities);
    </div>
    <div>
        Here is the message:
        <p>@Model</p>
    </div>
</body>
</html>
