﻿@model string
@using HelperMethod.Infrastructure
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- external hlper method -->
    <div>
        Here are the fruits: @Html.ListArrayItems((string[])ViewBag.Fruits);
    </div>
    <div>
        Here are the cities: @Html.ListArrayItems((string[])ViewBag.Cities);
    </div>
    <div>
        Here is the message:
        <p>@Model</p>
    </div>
</body>
</html>
