﻿@model HelperMethod.Models.Person

@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MEoW";
}
<!-- basic using the model for values -->
<h2>Using model for values</h2>
@using (Html.BeginForm()) {
	<div class="dataElem">
		<label>First Name</label>
		@Html.TextBox("firstName")
	</div>
	<div class="dataElem">
		<label>PersonId</label>
		@Html.TextBox("PersonId")
	</div>
	<input type="submit" value="Submit" />
}

<!--

- if you call Html.TextBox(DataValue), it will search
	- ViewBag.DataVlaue
	- Model.DataValue
		
	In the ViewBag, The first value that is found is used to set the 'value' 'attribute'
	of the generated HTML. If you use like DataValue.First.Name, it will
	check many permutations:
		ViewBag.DataVAlue.First.Name
		ViewBag.DataValue[First].Name
		ViewBag.DataValue[First.Name]
		ViewBag.DataValue[First][Name]
		
		Could affect peroframnce, but since viewbags are small, then its ok

	For Model, it will work only if the view model for the view contains a property
	or filed called 'DataValue'
-->