﻿@model HelperMethod.Models.Person

@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MEoW";
}
<!-- basic using the model for values -->
<h2>Using model for values</h2>
@using (Html.BeginForm()) {
	<div class="dataElem">
		<label>First Name</label>
		@Html.TextBox("firstName", @Model.FirstName)
	</div>
	<div class="dataElem">
		<label>PersonId</label>
		@Html.TextBox("PERSONid", @Model.PersonId) <!-- this is ok -->
		<!-- extra attributes are added by MVC for validation -->
	</div>
	<input type="submit" value="Submit" />
}

