﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
	<div class="dataElem">
		<label>Role</label>
		@Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetNames(typeof(HelperMethod.Models.Role))))
	</div>
	<input type="submit" value="Submit"/>
}