﻿@model HelperMethod.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- Drop-down list -->
@Html.DropDownList("myList", new SelectList(new[] { "A", "B"}), "Choose")
<!--
<select id="myList" name="myList">
    <option value=""> Choose </option>
    <option>A</option>
    <option>B</option>
</select>
-->

@Html.DropDownListFor(x => x.Gender, new SelectList(new[]{"M", "F"}))
<!--
<select id="Gender" name="Gender">
    <option> M </option>
    <option> F </option>
</select>
-->


<!-- multiple-select -->
@Html.ListBox("myList2", new MultiSelectList(new[] {"A", "B"}))
<!--
<select id="myList2" multiple="multiple" name="myList2">
    <option>A</option>
    <option>B</option>
</select>
-->



@Html.ListBoxFor(x => x.Gender, new MultiSelectList(new[] {"A", "B"}))
<!--
<select id="Gender" multiple="multiple" name="Gender">
    <option>A</option>
    <option>B</option>
</select>
-->

