﻿@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "MEoW";
}
<h2>Basic inputs </h2>

@using (Html.BeginForm()) {
<!-- ============ -->
<!-- checkbox  -->
<!-- ============ -->
@Html.CheckBox("myCheckbox", false)
<!--
	<input id="myCheckbox" name="myCheckbox" type="checkbox" value="true" />
	<input name="myCheckbox" type="hidden" value="false">

	There is two because if no selection is done, browsers do not
	submit a value for checkboxes. Having a hidden one, it ensures
	that the MVC framework will get a value from the hidden field
	when this happens.
-->

<!-- ============ -->
<!-- hidden field -->
<!-- ============ -->
@Html.Hidden("myHidden", "val")
<!--
	<input id="myHidden" name="myHidden" type="hidden" value="val" />
-->

<!-- ============ -->
<!-- Radio button -->
<!-- ============ -->
@Html.RadioButton("myRadioButton", "val", true)
<!--
	<input id="myRadioButton" checked="checked" name="myRadioButton"
			type="radio" value="val" />
-->

<!-- Password -->
@Html.Password("myPassword", "val")
<!--
	<input id="myPassword" name="myPassword" type="password" value="val"/>
-->

<!-- Text area  -->
@Html.TextArea("myTextArea", "val", 5, 20, null)
<!--
	<textarea cols="20" id="myTextArea" name="myTextArea" rows="5">
	val
	</textarea>
-->

<!-- Text box -->
<!--
	<input id="myTextbox" name="myTextbox" type="text" value="val" />
-->
@Html.TextBox("myTextbox", "val")
	
<input type="submit" value="Submit" />
}


