﻿@model PRONETMVC5_Razor.Model.Product

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>NameAndPrice</h2>
The product name is @Model.Name and it costs @Model.Price

@{
    int[] nums = {1,2,3,4};
}
<br />
@for (var i = 0; i < nums.Length; i++) {
    int t = nums[i];
    <text>nums: @t</text>
    // if no text, it gives a razor runtime error
}
<br />
@for (var i = 0; i < nums.Length; i++) {
    int t = nums[i];
    @:nums: @t              a
    <div>nums: @t</div>
    // renders the entier line as an HTML inside a code block
}