﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RangeError</title>
</head>
<body>
    <h2>Sorry</h2>
    <span>The vlaue @Model was out of the expected range.</span>
    <div>
        @Html.ActionLink("Change value and try again", "index");
    </div>
</body>
</html>
