﻿@using URLAndAjaxHelperMethod.Models;
@model string

@{
    ViewBag.Title = "GetPeople";
    Layout = "/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions {
        UpdateTargetId = "tableBody",
        Url = Url.Action("AsyncPartial"),
        LoadingElementId = "loading",
        LoadingElementDuration = 500,
        Confirm = "Do you wish to request new data?",
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    };

}

<script>
    function OnBegin() {
        alert("This is the OnBegin callback");
    }
    function OnSuccess(data) {
        alert("This is the OnSuccess callback:" + data)
    }
    function OnFailure(request, error) {
        alert("This is the OnFailure callback:" + error);
    }
    function OnComplete(request, status) {
        alert("This is the OnComplete callback:" + status)
    }
</script>

<h2>Get People</h2>

<div id="loading" class="load" style="display:none;">
    <p>Loading data ...</p>
</div>

<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @Html.Action("AsyncPartial", new { selectedRole = Model })
    </tbody>
</table>

@using (Ajax.BeginForm(ajaxOpts)) {
    <div>
        @Html.DropDownList("selectedRole", new SelectList(new[] { "All" }.Concat(Enum.GetNames(typeof(Role)))))
        <button type="submit">Submit</button>
    </div>
}

<!-- create ajax links -->
<div>
    @foreach (string role in Enum.GetNames(typeof(Role))) {
        <div class="ajaxLink">
            @Ajax.ActionLink(role, "AsyncPartial", 
                new {selectedRole = role},
                new AjaxOptions {UpdateTargetId = "tableBody"}
            )
        </div>
    }
</div>