﻿
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Basic Links & URLs</h2>
<table>
    <thead>
        <tr>
            <th>Helper</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- 
				- Application-relative URL
				- a string url
				- not affected by routeconfig
			 -->
            <td>Url.Content("~/Content/Site.css")</td>
            <td>@Url.Content("~/Content/Site.css")</td>
        </tr>

        <tr>
            <!-- 
				- link to named action/controller
				- generates an anchor
				- affected by routeconfig 
			-->
            <td>Html.ActionLink("My Link", "Index", "Home")</td>
            <td>@Html.ActionLink("My Link", "UrlAndLinks", "People")</td>
        </tr>
        
        <tr>
            <!-- 
				- URL for action 
				- a string url
				- affected by route config 
			-->
            <td>Url.Action("GetPeople", "People")</td>
            <td>@Url.Action("GetPeople", "People")</td>
        </tr>

        <tr>
            <!-- 
				- URL using route data
				- a string url, affected by route config 
				- different than Url.Action because you can include a route name    
			-->
            <td>Url.RouteUrl(new {controller = "People", action="GetPeople"})</td>
            <td>@Url.RouteUrl(new {controller = "People", action="GetPeople"})</td>
        </tr>


        <tr>
            <!-- 
				- Link using route data
				- an anchor, similar to action link but gives more option link pointing out a route name, affected by route config 
			-->
            <td>Html.RouteLink("My Link", new {controller = "People", action="GetPeople"})</td>
            <td>@Html.RouteLink("My Link", new {controller = "People", action="GetPeople"})</td>
        </tr>
        <tr>
            <!-- 
				-Link to named route
				- an anchor, similar to before, affected by route config 
			-->
            <td>Html.RouteLink("My Link", "FormRoute", new {controller = "People", action="GetPeople"})</td>
            <td>@Html.RouteLink("My Link", "FormRoute", new {controller = "People", action="GetPeople"})</td>
        </tr>
    </tbody>
</table>

<!--
- Html.RouteLink is somewhat the same as Html.ActionLink with some exceptions
    - Html.RouteLink can include name of routes but Html.ActionLink can't

- Url.Action and Url.RouteUrl are some what the same with some expcetions
    - url.routeurl, you can include the name of a route
-->